/*header*/

/*h1 del header */

.titulo{
    font-size: 2.8vw;
    color:rgb(255, 255, 255);
    margin-left: 70%;
}

.tituloDestacado{
    font-size: 3vw;
    font-weight: bold;
    color:rgb(155, 155, 155);
    margin-left: 70%;
}
/*Alineacion del contenido,imagen y responsive del header*/

header{
    background-image:url("./imgStarWars/header.png") ;
    background-size: cover;
    background-position: top;
    display:flex;
    flex-direction: column;
    gap: 2vw;
    min-height: 35vw;
    width: 100%;
}

/*todo el body*/

/*clases para ocultar y ver secciones al cambier de seccion mediante js*/

.oculto{
    display: none;
}


body {
    margin: 0;
    padding: 0;
    background-image: url("./imgStarWars/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center ;
    background-size:cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*footer*/

footer{
    background-image: url("./imgStarWars/footer.jpg");
    background-size: cover;
    min-height: 60vw;
    margin-top: auto;
    width: 100%;
}



/*seccion 2 pilotos*/

.contenedorPrincipal {/*con flex nos organizamos mejor*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.3vw;
    margin-top: 15vw;
    transform: translate(1.2vw);
}


#h1cuestionario{
    color: rgb(255, 255, 255);
    font-size: 8vw;
    text-align: center;
    margin-bottom: -10vw;
}

.divFormulario {/*formulario responsive */
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    border-radius: 8vw;
    width: 45vw; 
    border: 0.4vw solid red;
    margin-left: 1.5vw;
}

.formularioPilotos{
    display:flex;
    flex-direction: column;
    gap: 4vw;
}

.formularioPilotos input {/*input responsive*/
    width: 28vw;
    font-size: 2.3vw;
    margin-right: 2vw;
    border-radius: 2vw;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 0.1vw;
    padding-left: 1vw;
}

.formularioPilotos button {/*botones responsive*/
    font-size: 1.8vw;
    width: 18vw;
    height: 3.5vw;
    border-radius: 2vw;
    border-width: 0.35vw;
    transform: translate(5.5vw,1vw);
}

.formularioPilotos select{/*select responsive*/
    font-size: 2vw;
    width: 30vw;
    border-radius: 1vw;
    border-width: 0.3vw;
    background-size: 2vw;
}
#soldado{/*al estar dentro de divformulario,solo le ajustamos el tamaño*/
    width: 20vw;
}

.divLista {/*lista responsive en la que van los pilotos añadidos*/
    width: 38vw;
    background-color: rgba(0, 0, 0, 0.8);
    border: 0.2vw solid rgb(255, 255, 255);
    border-radius: 2vw;
    padding: 2vw;
    color: rgb(248, 248, 248);
    margin-right: 4vw;
    height: 47.6vw;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*todo esto es para hacer la scrollbar y responsive*/
.divLista::-webkit-scrollbar{
    width: 1.5vw;
}

.divLista::-webkit-scrollbar-thumb {
    background-color: #ff0000; 
    border-radius: 2vw;       
    border: 0.5vw solid #9c9c9c;   
}

.divLista::-webkit-scrollbar-track {
    background: #1a1a1a;      
}

/*tabla responsive y mejora visual*/

.divLista h2 {
    text-align: center;
    margin-bottom: 2vw;
    font-size: 4vw;
    color: red;
}

.tablaPilotos {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.6vw;
    text-align: center;
}

.tablaPilotos th {
    border-bottom: 0.2vw solid rgb(255, 0, 0);
    padding: 0.5vw;
}
.tablaPilotos td {
    padding: 0.5vw;
    border-bottom: 0.1vw solid rgb(255, 0, 0);
}

.btn-accion {/*estos son los botones que se crean al añadir un piloto*/
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin: 0.5vw;
    border: none;
    width: 6vw;
    border-style: solid;
    border-color: red;
    border-radius: 2vw;
    border-width: 0.2vw;
    transform: translate();
}

