/*HEADER*/

#Hangar,
#Pilotos,
#Misiones,
#Alianza {
    font-size: 2.8vw;
    color: white;
    cursor: pointer;
}

#Hangar:hover,
#Pilotos:hover,
#Misiones:hover,
#Alianza:hover {
color:rgb(255, 0, 0)

}
header h1 {
    margin-left: 70%;
}

header {
    background-image: url("header.png");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    min-height: 35vw;
    width: 100%;
}
.oculto{
    display: none;
}


/*BODY */

body {
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}
/*FOOTER */


/*SECCIONES*/

.seccion {
    display: none;
    padding: 20px;
}

.activa {
    display: block;
}

/*SECCION 1 HANGAR*/

.control {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 25px;
}

input, select, button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}



button {
    background: #ffff00;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ffcc00;
}

#contador {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #00eaff;
}

.hangar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));/*Ajusta el ancho depende del tamaño y hace que ninguna sea menor a 230 y estira para rellenar espacio*/
    gap: 15px;
}

.card {
    background: #1a2238;
    border: 2px solid #2d3a5f;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.2s; /*para que sea mas limpio el aumento*/
}

.card:hover {
    transform: scale(1.05);
}



@media (max-width: 480px) {

    h1 {
        font-size: 22px;
    }

    .control {
        gap: 10px;
    }

    input, select, button {
        width: 100%;
        font-size: 14px;
        padding: 8px;
    }

    #contador {
        font-size: 14px;
    }

    .hangar {
        grid-template-columns: 1fr;
    }

    .card {
        font-size: 14px;
    }
}

/*SECCION 2 PILOTOS*/

.contenedorPrincipal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3vw;
    margin-top: 5vw;
}

#h1cuestionario {
    color: white;
    font-size: 5vw;
    text-align: center;
}

.divFormulario {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    border-radius: 8vw;
    width: 48vw;
    border: 0.4vw solid red;
}

.formularioPilotos {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

#soldado {
    width: 20vw;
}

.divLista {
    width: 38vw;
    background-color: rgba(0,0,0,0.8);
    border: 0.2vw solid white;
    border-radius: 2vw;
    padding: 2vw;
}

.divLista h2 {
    text-align: center;
    color: red;
}

.tablaPilotos {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.btn-accion {
    cursor: pointer;
    font-size: 1vw;
}


/*SECCION 3 MISIONES*/

body {
    font-family: Arial;
    background: #0b0f1a;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: gold;
}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

input, select, button {
    padding: 8px;
    border-radius: 8px;
    border: none;
}

button {
    background: gold;
    cursor: pointer;
    font-weight: bold;
}

.kanban {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.col {
    flex:1;
    background: #1a2238;
    padding: 15px;
    border-radius: 10px;
}

.card {
    background: #2d3a5f;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.card button {
    margin-top: 5px;
    width: 100%;
}

@media (max-width: 480px) {

    h1 {
        font-size: 22px;
    }

    .form {
        gap: 8px;
    }

    input, select, button {
        width: 100%;
        font-size: 14px;
        padding: 8px;
    }

    .kanban {
        gap: 10px;
    }

    .col {
        width: 100%;
        padding: 10px;
    }

    .card {
        font-size: 14px;
    }

    .card button {
        font-size: 13px;
    }
}


/* ================= FOOTER ================= */

footer {
    background-image: url("footer.jpg");
    background-size: cover;
    min-height: 20vw;
}